<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="author" content="Atsushi" />

        <title>Atsushi ~ Register</title>
    </head>
    <body>
        <form role="form" action="/login/api/createAccount" method="POST">
            <input type="text" placeholder="Your name" name="name" required />
            <input type="email" placeholder="Your e-mail" name="email" required />
            <input type="password" placeholder="Your password" name="password" required />

            <button type="submit">Envie!</button>
        </form>
    </body>
</html>