<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="author" content="Atsushi" />
        <link rel="stylesheet" href="/stylesheet/redirect.css">
        <title>Atsushi ~ Redirect</title>
    </head>
    <body class="bg-purple">
        <div class="stars">
            <div class="central-body">  
                <h1 class="space-lost"><%=message%></h1>
                <a href="<%=redirectPath%>" class="btn-go-home">Volte para o <%=goTo%></a>
            </div>
            <div class="objects">
                <img class="object_rocket" src="http://salehriaz.com/404Page/img/rocket.svg" width="40px">
                <div class="earth-moon">
                    <img class="object_earth" src="http://salehriaz.com/404Page/img/earth.svg" width="100px">
                    <img class="object_moon" src="http://salehriaz.com/404Page/img/moon.svg" width="80px">
                </div>
                <div class="box_astronaut">
                    <img class="object_astronaut" src="http://salehriaz.com/404Page/img/astronaut.svg" width="140px">
                </div>
            </div>
            <div class="glowing_stars">
                <div class="star"></div>
                <div class="star"></div>
                <div class="star"></div>
                <div class="star"></div>
                <div class="star"></div>
            </div>
    
        </div>
    
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
</html>